html {background: url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg); background-size: cover;
} 
html {font-family: 'Pacifico', cursive;}
h2:hover {color: violet;font-family: 'Cookie', cursive;}
.c1{margin-left: 30%; margin-bottom: 0%; width: 700px; height: 7px}
.img{margin-left: 5%; margin-top: 0%; margin-bottom: 0%}
h2{margin-top: 10%;  margin-bottom: 0%}
img {
    border-radius: 8px; opacity: 0.8;
}