h1#p1:hover{color: violet; font-family: monospace}
body {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6c4P_w6AfifyLY8T9trEHZmD3wyvxGCgEXt6RF7UyiWXSSQer");
background-size: cover}
img {
  border-radius: 8px;  opacity: 0.8; z-index: 1;
  position: relative;
  top: 20px;
  right: 100px;

}
p#info:{z-index: 1}

.lists {font-family: cursive; font-size: smaller;
  z-index: 2
 
}
 table#tbl {font-family: cursive; font-size: smaller
 }
img {
  border-left: 6px solid violet
}